:root {
  --red: #dd1e10;
  --amber: #f7b500;
  --green: #33a532;
}

body {
  margin: 50px;
  background: #222;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.lights {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  margin: 20px auto 0 auto;
  padding: 40px 30px;
  width: fit-content;
  border-radius: 45px;
  border: 20px solid #1e1e29;
  box-shadow: 0 0 75px 20px rgba(255, 255, 255, 0.2);
}

ul.lights > li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: fade;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 0.3;
}

ul.lights > li:not(:last-child) {
  margin-bottom: 30px;
}

ul.lights > li.red {
  background-color: var(--red);
  box-shadow: 0 0 35px 15px var(--red);
  animation-delay: 0s;
}

ul.lights > li.amber {
  background-color: var(--amber);
  box-shadow: 0 0 35px 15px var(--amber);
  animation-delay: 2s;
}

ul.lights > li.green {
  background-color: var(--green);
  box-shadow: 0 0 35px 15px var(--green);
  animation-delay: 4s;
}

@keyframes fade {
  0%, 66%, 100% {
    opacity: 0.3;
  }
  33% {
    opacity: 1;
  }
}

.night-sky {
  background: linear-gradient(180deg,
    #000,
    #00041a,
    #000625,
    #000625,
    #000c4b,
    #1a0057,
    #680088,
    #ffd448
  );
}

.pole {
  width: 50px;
  height: 50vh;
  background: linear-gradient(to right, 
    #1e1e29, 
    #343441, 
    #1e1e29, 
    #1e1e2b, 
    #0a0a11
  );
}
