:root {
  --mid-blue: hsl(230, 37%, 44%);
  --mid-light-blue: hsl(230, 37%, 60%);
  --mid-lighter-blue: hsl(230, 37%, 70%);
}

.toggler {
  position: relative;
  appearance: none; 
  -webkit-appearance: none;
  outline: none;
  width: 36px; 
  height: 20px;
  background-color: #d3d4e2;
  border: 1px solid #262d52;
  border-radius: 16px; 
  box-shadow: inset -16px 0 0 0 #a6a8b9;
  transition-duration: 200ms;
  cursor: pointer;
}

.toggler:after {
  content: ""; 
  position: absolute;
  top: 1px; 
  left: 1px;
  width: 16px; 
  height: 16px;
  background-color: transparent;
  border-radius: 50%; 
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.toggler:checked {
  border-color: var(--mid-blue);
  box-shadow: inset 16px 0 0 0 var(--mid-blue);
}

.toggler:checked:after {
  left: 17px;
  box-shadow: -1px 2px 3px rgba(0,0,0,0.05);
}

.toggler:checked ~ ul.lights > li {
  animation-play-state: running;
}

.toggler {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}